@media (max-width: 480px) {
  h1 {
      font-size: 30px; /* Smaller font size for small screens */
  }
  .container {
      margin-top: 20px; /* Less margin at the top */
  }
  .research-paragraph {
    max-width: 90%; /* Increase width for better readability */
    padding: 10px 10px;
    color: #CCCCCC;
    font-family: 'BigBlueTerm437 Nerd Font', monospace;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: background-color 0.8s ease, color 0.8s ease;
  }

  .cat-image {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }

  .reader_button a, .home_button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .copyright {
    font-size: 12px;
    bottom: 5px;
    left: 5px; 
  }
}

body {
  background-color: black;
  color: white;
  font-family: 'BigBlueTerm437 Nerd Font', monospace;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  justify-content: center;
}

.container_intro {
  animation: fadeInAnimation 1s ease-out forwards;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.rain-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.rain {
  position: absolute;
  top: -100px;
  width: 2px;
  height: 100px;
  background: white;
  border-radius: 50%;
  animation: rainFall 1s linear infinite;
}

@keyframes rainFall {
  0% {
    top: -0px;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

h1 {
  font-size: 50px;
  color: #00FF00;
}

h2 {
  font-size: 30px;
  color: #00FF00;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

li {
  font-size: 20px;
  color: #00FF00;
  margin: 10px;
  transition: color 0.5s ease;
}

li:hover {
  color: yellow;
}

a {
  color: #00FF00;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  color: red;
}

.special-paragraph:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.research-paragraph:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.reader_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}

.reader_button a {
  color: #00ff9d;
  background-color: #105709;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px; 
}

.reader_button a:hover {
  background-color: #6109d3;
}

@keyframes light-sweep {
  0%, 100% {
      color: #555;
      text-shadow: none;
  }
  50% {
      color: white;
      text-shadow: 0 0 10px white, 0 0 20px white;
  }
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  animation: light-sweep 8s infinite;
}